<footer class="w-100 cf tc ph3 ph4-m ph6-l pv4 pv6-ns wow animated fadeInUp">
  <nav class="wow animated fadeIn">
    <ul class="f4 list pa0 mv4 lh-copy">
      <li class="dib mr2"><a class="link underline-hover black-90 ttu" href="/#services" >Services</a></li>
      <li class="dib mr2"><a class="link underline-hover black-90 ttu" href="/contact/">Contact</a></li>
    </ul>
  </nav>
  <ul class="list pl0 lh-copy">
    <!-- <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="/terms-of-use.html"><small>Terms of Use</small></a></li>
    <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="/privacy-policy.html"><small>Privacy Policy</small></a></li> -->
    <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="/feed.xml"><small>RSS Feed</small></a></li>
    <li class="dib mr2"><a class="link underline-hover dark-gray b ttu" href="/sitemap.xml"><small>Sitemap</small></a></li>
  </ul>
  <a class="mb0 mb0-l tc" href="/" title="Sparkplug">
    <img src="/img/sparkplug.svg" style="height: 3rem" class="dib pa1" alt="avatar" alt="Sparkplug">
  </a>
  <small class="w-100 db mv2 lh-copy">&copy; <i class="fa fa-fw fa-copyright"></i>2021 Sparkplug.</small>
  <small class="w-100 db mv2 lh-copy">Made in Kampala, Uganda.</small>
  <a class="db link underline-hover gray" href="/#cornerstone" data-scroll><small>Back to Top</small></a>
</footer>
