<footer id="footer">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
              <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/blog/">Blog</a></li>

                </ul>
            </div>
            <div class="col-sm-4">
              <h5>Company</h5>
                <ul class="list-unstyled">
                  <li><a href="/about">Team</a></li>
                  <li><a href="/jobs">Work at Sparkplug</a></li>
                  <li><a class="phone" href="tel://256-791-160-903">Call Sparkplug</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
              <h5>Location</h5>
              <div class="text-align-right" flex="33">
                <span class="street">7 Binayomba Road, Bugolobi<br></span>
                <span class="suite">Ground Floor, Venture Labs<br></span>
                <span class="city">Kampala, Uganda<br></span><br>

              </div>

            </div>
        </div>

        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="copyright" style="padding-top:50px;"><small>© 2015 Sparkplug</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <span itemscope itemtype="http://schema.org/Organization">
              <link itemprop="url" href="http://sparkpl.ug">
              <link itemprop="logo" href="http://sparkpl.ug/images/sparkpluglogo.png">
              <a itemprop="sameAs" href="http://www.facebook.com/sparkplugea">Facebook</a>
              <a itemprop="sameAs" href="http://www.twitter.com/sparkplugea">Twitter</a>
              <a itemprop="sameAs" href="http://plus.google.com/+SparkplUg52013/">Google+</a>
              <a itemprop="sameAs" href="http://www.linkedin.com/company/3104389">LinkedIn</a>
            </span>
          </div>
    </div>

</footer>

