<footer id="footer">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
              <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/blog/">Blog</a></li>

                </ul>
            </div>
            <div class="col-sm-6">
              <h5>Company</h5>
                <ul class="list-unstyled">
                  <li><a href="/about">Team</a></li>
                    <li><a href="/jobs">Work at Sparkplug</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="copyright" style="padding-top:50px;"><small>© 2015 Sparkplug</small></p>
          </div>
        </div>
    </div>
</footer>
