<header id="site-header">
      <div class="layout-standard">
        <nav>
          <a class="logo" href="/">
            <img src="/images/sparkpluglogo.png" alt="Sparkplug">
          </a>
          <div class="links">
            <a href="/#services">Services</a>
            <a href="/#product">Products</a>
            <a href="/#portfolio">Portfolio</a>
            <a href="/#about">About</a>
            <a href="/#contact">Contact</a>
            <!-- <a href="/blog">Blog</a> -->
          </div>
          <div class="contact">
            <a href="tel://256-791-160-903" class="phone"><i class="fa fa-phone"></i> +256-791-160-903</a>
          </div>
        </nav>
      </div>
    </header>
