

<head>
<meta charset="utf-8"/>
<title>{{ page.title }} | {{ site.title }}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>

<meta name="description" content="Sparkplug works with organizations to build beautiful software through human centered design and agile execution."/>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Sparkplug - Your software development partners." />
<meta property="og:description" content="Sparkplug works with organizations to build beautiful software through human centered design and agile execution." />
<meta property="og:url" content="http://sparkpl.ug/" />
<meta property="og:site_name" content="Sparkplug" />
<meta property="article:publisher" content="https://www.facebook.com/sparkplugea" />
<meta property="og:image" content="http://sparkpl.ug/images/sparkpluglogo.png" />
<meta name="google-site-verification" content="xWKhVYhRkpFE1thLEeaQ70ii7ZHvz1N8Nda8twDkp1c" />


<!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
<link rel="stylesheet" href="/css/compressed.css">
<link href='{{ "/feed.xml" | prepend: site.baseurl }}' rel="alternate" title="RSS" type="application/rss+xml">
<!-- <link href="/images/sparkplugfavicon.ico" rel="shortcut icon"  /> -->

<!-- need to add modernizr here -->

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Sparkplug",
  "url" : "http://www.sparkpl.ug",
  "logo": "http://sparkpl.ug/images/sparkpluglogo.png"
  "sameAs" : [ "http://www.facebook.com/sparkplugea",
    "http://www.twitter.com/sparkplugea",
    "http://plus.google.com/+SparkplUg52013/",
    "http://www.linkedin.com/company/3104389"]
}
</script>

<script async src="//use.typekit.net/wwv5mqo.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
