<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class="blog">
      <div class="backdrop">
        <header class="">
          <div class="container">
            <a class="logo" href="/"><img src="/images/sparkpluglogo.png" alt="Sparkplug"></a>
        
            <ul class="user-nav">
              <li class="hidden-xs"><a href="/#services">Services</a></li>
              <li class="hidden-xs"><a href="/#portfolio">Portfolio</a></li>
              <li class="hidden-xs"><a href="/about/">Team</a></li>
              <li class="hidden-xs"><a href="/blog/">Blog</a></li>
              <li class="hidden-xs"><a href="/#contact">Contact</a></li>
            </ul>
          </div>
        </header>
          
          <div class="hero">
          <div class="container">
              <h3>{{page.title}}</h3>
              <!--<p>News, views, tutorials and more from Sparkplug</p>-->
              <div class="row">
                <div class="col-md-9 col-md-offset-2">
                  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=sparkplugea" class="btn btn-primary">Share on Twitter</a>
                  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" class="btn btn-default">Share on Facebook</a>
                  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" class="btn btn-danger">Share on Google+</a>
                  <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" class="btn btn-primary" target="_blank">Share on LinkedIn</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      {{ content }}
      
      
  </div>
  {% include footer.html %}


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40448209-1', 'sparkpl.ug');
    ga('send', 'pageview');
  </script>
    </body>
</html>