<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="w-100">
      <nav class="dt w-100 mw9 center ph4-ns pv3">
        <div class="db dtc-l v-mid w-100 w-30-l tc tl-l">
          <a class="mb0 mb0-l" href="/" title="Sparkplug">
            <img src="/img/sp-logotype.svg" style="height: 3rem" class="dib pa1" alt="avatar" alt="Sparkplug">
          </a>
        </div>
        <div class="db dtc-l v-mid w-100 w-60-l tc tr-l">
          <a class="link hover-black-90 no-underline underline-hover black-90 f5 f5-l lh-title dib mr3 mr4-l" href="/#services" title="Services at Sparkplug">Services</a>
          <a class="f5 fw4 font-smoothing-hover hover-bg-black-90 hover-white no-underline black-90 dib ml2 pv2 ph3 ba-ns br2-ns bw1-ns" href="/contact/"  title="Contact Sparkplug">Contact Us</a>
        </div>
      </nav>
    </div>
    {{ content }}

    {% include footer.html %}

  </body>

</html>